/* //////////////////////////////////////////burger_menu_hide////////////////////////////////////////// */

.burger_menu_hide {
    display: none;
}

.header__top_click {
    background-color: #FFFFFF;
}

.cross_img {
    display: flex;
    cursor: pointer;
    margin-left: 8px;
    align-items: center;
}

.adress_add_green {
    color: #006666;
}

.summ_green {
    color: #006666;
}

.adress_add_green::before {
    content: url(../images/adress_add_green.svg);
}

.shimmingi_green {
    color: #006666;
}

.shimmingi_green::before {
    content: url(../images/shimmingi_green.svg);
}

.header_nav_top_burger {
    flex-direction: column;
    align-items: flex-start;
    height: 859px;
    row-gap: 32px;
    padding-top: 64px;
    padding-left: 51px;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    align-self: flex-start;
    margin: 0;
    position: absolute;
    top: 55px;
}

.header__nav_top_title {
    display: flex;
    color: #A0A0A0;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: lowercase;
    cursor: default;
}

.header__nav_top_title_hide {
    display: none;
}

.footer_burger {
    display: none;
    z-index: 1;
    position: fixed;
    max-width: 1128px;
    top: 55px;
    height: 859px;
    right: 10%;
    width: 50%;
}
.footer__hide{
    display: none;
}
.footer__burger{
    position: absolute;
    right: 0;
    width: 76%;
    top: 0px;
}
.header__top_left_hide_green{
    display: none;
}
.box_shadow_none{
    box-shadow: none;
}
