////////////////////////////////////////////////////Footer/////////////////////////////////////////////////////////////
.footer {
    width: 100%;
    background: #274646;
    display: flex;
    justify-content: center;
    height: 696px;
  }
  .shimi-hide{
      display: none;
  }
  
  .footer__menu {
    margin-top: 64px;
  }
  
  .footer__menu_top_list {
    row-gap: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__menu_top_list_item {
    font-family: "Value Sans Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #F7F7F7;
  }
  // .footer__menu_top_list_item:hover{
  //   color: red;
  //  font-size: 30px;
  //   transition: 0.5s;
  // }
  
  .footer__line {
    margin: 36px auto 30px auto;
    width: 400px;
    height: 1px;
    background-color: #FFBDC8;
  }
  
  .footer__menu_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__menu_bottom_logo {
    display: flex;
    justify-content: center;
    height: 32px;
    width: 32px;
  }
  
  .footer__menu_bottom_icons {
    position: relative;
    margin-top: 33px;
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
  }
  
  .footer__info {
    background-color: #565D95;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    height: 47px;
  }
  
  .footer__info_left {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .footer__info_left_item {
    font-family: "Value Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .footer__info_right {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  
  .orange {
    color: #F2AF29;
  }
  
  .big_one {
    width: 100%;
    height: 100px;
    background-color: #006666;
  }
  .instogram:hover{
    content: url(../images/instagram-hover.svg);
    width: 32px;
    height: 32px;
  }
  .WhatsApp:hover{
    content: url(../images/whatsapp-hover.svg);
    width: 32px;
    height: 32px;
  }
  .Telegram:hover{
    content: url(../images/telegramm-hover.svg);
    width: 32px;
    height: 32px;
  }
  .VK:hover{
    content: url(../images/vk-hover.svg);
    width: 32px;
    height: 32px;
  }
  .footer__menu_bottom_logo .frame31{
    width: 32px;
  }