/* Header */
.header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header_top {
    background-color: #274646;
    height: 54px;
    display: flex;
    justify-content: center;
}

.header_middle,
.header_bottom {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    width: 1400px;
    justify-content: space-around;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.header_top_container {
    height: 54px;
}

.header_middle_container {
    border-bottom: 1px solid #E5E5E5;
    height: 52px;
}

.header_top_container,
.header_middle_container,
.header_bottom_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
}

.header_bottom_container {
    width: 45%;
    display: flex;
    margin-right: 30%;
}

.header_top_left {
    width: 513px;
    display: flex;
    justify-content: space-between;
}

.header_top_right {
    width: 204px;
    display: flex;
    justify-content: space-between;
}

.shimmingi {
    display: flex;
    align-items: center;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFBDC8;
}

.header_top_left,
.header_top_right {
    display: flex;
    align-items: center;
}

.header_top_left_menu {
    width: 24px;
    height: 24px;
    line-height: 16px;
}

.shimishimi {
    height: 16px;
    width: 196px;
}

.tel {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;
}

.adress_add {
    font-weight: 700;
    font-size: 14px;
    color: #FFE091;
    align-items: center;
    display: flex;
}

.adress_add::before {
    content: url(/SunWeb_igor/images/location-add.png);
    Width: 12.94px;
    Height: 15px;
    padding-right: 10px;
    align-items: center;
    display: flex;
}

.shimmingi::before {
    content: url(/SunWeb_igor/images/shimingi.png);
    padding-right: 10px;
    Width: 18px;
    Height: 18px
}

.bell {
    color: #FFFFFF;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    display: flex;
}

/*корзина с красным кружком*/
/* .bell::before {
    content: url(/SunWeb_igor/images/Корзина.png);
} */

li {
    line-height: 16px;
    padding: 0px 15px;
}

.header_bottom_container li {
    background-color: #FFFFFF;
    border-radius: 46px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E9E6E6
}

.header_bottom_container li:hover {
    background-color: #E9E6E6;
    border-radius: 46px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #274646;
}

.header_middle_container li:hover {
    border-bottom: 3px solid #274646;
    box-sizing: border-box;
    line-height: 52px;
    cursor: pointer;
}

.header_middle_container li {
    line-height: 54px;
}

.rubble {
    margin-left: 5px;
}

.bell_round {
    color: #FFFFFF;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 900;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #B20D30;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
}

/* Header */