* {
    box-sizing: border-box;
}

body {
    width: 1400px;
    justify-content: center;
    margin: 0 auto;
}
.header{
    line-height: 54px;
    background-color: #274646;
}
.header_top ,.header_top_left,.header_top_right{
    display: flex;
    justify-content: space-between;
}